In [ ]:
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [10]:
driver=webdriver.Chrome(r'C:\Users\User\Desktop\veeresh\Internship(test)/chromedriver.exe')

In [11]:
driver.get('https://www.forbes.com/billionaires/')

In [12]:
name=[]
name_tag=driver.find_elements(By.XPATH,'//div[@class="Table_dataCell__2QCve"]')
for i in name_tag:
    name.append(i.text.split(","))
len(name)

800

In [13]:
nm=name[0:40]
nm

[['Bernard Arnault & family'],
 ['74'],
 ['LVMH'],
 [''],
 ['Elon Musk'],
 ['51'],
 ['Tesla', ' SpaceX'],
 [''],
 ['Jeff Bezos'],
 ['59'],
 ['Amazon'],
 [''],
 ['Larry Ellison'],
 ['78'],
 ['Oracle'],
 [''],
 ['Warren Buffett'],
 ['92'],
 ['Berkshire Hathaway'],
 [''],
 ['Bill Gates'],
 ['67'],
 ['Microsoft'],
 [''],
 ['Michael Bloomberg'],
 ['81'],
 ['Bloomberg LP'],
 [''],
 ['Carlos Slim Helu & family'],
 ['83'],
 ['Telecom'],
 [''],
 ['Mukesh Ambani'],
 ['65'],
 ['Diversified'],
 [''],
 ['Steve Ballmer'],
 ['67'],
 ['Microsoft'],
 ['']]

In [16]:
names=[]
names.extend([nm[0],nm[4]])
names.extend([nm[8],nm[12]])
names.extend([nm[16],nm[20]])
names.extend([nm[24],nm[28]])
names.extend([nm[32],nm[36]])

In [17]:
age=[]
age.extend([nm[1],nm[5]])
age.extend([nm[9],nm[13]])
age.extend([nm[17],nm[21]])
age.extend([nm[25],nm[29]])
age.extend([nm[33],nm[37]])

In [18]:
source=[]
source.extend([nm[2],nm[6]])
source.extend([nm[10],nm[14]])
source.extend([nm[18],nm[22]])
source.extend([nm[26],nm[30]])
source.extend([nm[34],nm[38]])

In [19]:
df=pd.DataFrame({'Name':names,'Age':age,'Source':source})
df

                          Name   Age                Source
0   [Bernard Arnault & family]  [74]                [LVMH]
1                  [Elon Musk]  [51]      [Tesla,  SpaceX]
2                 [Jeff Bezos]  [59]              [Amazon]
3              [Larry Ellison]  [78]              [Oracle]
4             [Warren Buffett]  [92]  [Berkshire Hathaway]
5                 [Bill Gates]  [67]           [Microsoft]
6          [Michael Bloomberg]  [81]        [Bloomberg LP]
7  [Carlos Slim Helu & family]  [83]             [Telecom]
8              [Mukesh Ambani]  [65]         [Diversified]
9              [Steve Ballmer]  [67]           [Microsoft]