In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r'C:\Users\User\Desktop\veeresh\Internship(test)\EXTRA/chrommedriver.exe')

In [3]:
driver.get("https://www.flipkart.com/")

In [4]:
close=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div/button')
close[0].click()

In [5]:
product=driver.find_elements(By.CLASS_NAME,'_3704LK')
product[0].send_keys('Sunglasses')

In [6]:
search=driver.find_elements(By.CLASS_NAME,'_34RNph')
search[0].click()

In [7]:
name=[]
brand=[]
description=[]
price=[]

In [8]:
start=0
end=3
for page in range(start,end):
    name_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in name_tag:
        name.append(i.text)
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag:
        brand.append(i.text)
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)
next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
next_button[0].click()
time.sleep(4)

In [9]:
len(name),len(brand),len(price)

(117, 120, 120)

In [10]:
names=name[0:100]

In [11]:
brands=brand[0:100]

In [12]:
prices=price[0:100]

In [13]:
df=pd.DataFrame({'name':names,'brand':brands,'price':prices})
df

,name,brand,price
0,UV Protection Wayfarer Sunglasses (50),Hooper,₹597
1,"UV Protection, Gradient Butterfly, Retro Squar...",AISLIN,₹445
2,UV Protection Wayfarer Sunglasses (50),SRPM,₹149
3,"UV Protection Cat-eye, Retro Square, Oval, Rou...",Elligator,₹149
4,UV Protection Aviator Sunglasses (Free Size),PIRASO,₹268
...,...,...,...
95,UV Protection Round Sunglasses (53),john jacobs,"₹2,000"
96,"UV Protection, Gradient Cat-eye Sunglasses (61)",Fastrack,₹489
97,UV Protection Sports Sunglasses (65),SHAAH COLLECTIONS,₹185
98,UV Protection Aviator Sunglasses (58),Elligator,₹149
99,UV Protection Aviator Sunglasses (Free Size),AISLIN,₹415