In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r'C:\Users\User\Desktop\veeresh\Internship(test)\EXTRA/chrommedriver.exe')

In [3]:
driver.get("https://www.flipkart.com/")

In [4]:
close=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div/button')
close[0].click()

In [5]:
product=driver.find_elements(By.CLASS_NAME,'_3704LK')
product[0].send_keys('Sneakers')

In [6]:
search=driver.find_elements(By.CLASS_NAME,'_34RNph')
search[0].click()

In [7]:
brand=[]
product=[]
price=[]

In [8]:
start=0
end=3
for page in range(start,end):
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag:
        brand.append(i.text)
    product_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tag:
        product.append(i.text)
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)
    next_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button[0].click()
    time.sleep(4)

In [9]:
len(brand),len(product),len(price)

(120, 115, 119)

In [10]:
brands=brand[0:100]
products=product[0:100]
prices=price[0:100]

In [11]:
df=pd.DataFrame({'Brand':brands,'Product':products,'Price':prices})
df

,Brand,Product,Price
0,BRUTON,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹499
1,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹599
2,SFR,2006 Trenddy Fashion Sporty Casuals Sneakers R...,₹299
3,Kraasa,Sneakers For Women,₹299
4,BIRDE,Combo Pack Of 2 Casual Shoes Sneakers For Men,₹499
...,...,...,...
95,PUMA,Sneakers For Men,₹389
96,Deals4you,Stylish Trendy Outdoor High Ankle Jordan Boots...,₹499
97,Labbin,Stylish Trendy Outdoor High Ankle Jordan Boots...,₹279
98,World Wear Footwear,Premium Sports Shoes For Men Pack Of 2 Sneaker...,₹349
99,aadi,Casual Shoes Sneakers For Women,₹616