In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page

In [3]:
soup=BeautifulSoup(page.content)

In [4]:
batsmen=[]
team=[]
rating=[]

In [5]:
for i in soup.find_all('div',class_='u-flex-center u-text-left'):
    batsmen.append(i.text.replace("\n",""))
batsmen

['Babar Azam']

In [6]:
for i in soup.find_all('td','table-body__cell rankings-table__name name'):
    batsmen.append(i.text.replace("\n",''))
batsmen

['Babar Azam',
 'Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'Shubman Gill',
 'David Warner',
 'Virat Kohli',
 'Rohit Sharma',
 'Steve Smith',
 'Fakhar Zaman',
 'Shai Hope',
 'Kane Williamson',
 'Jason Roy',
 'Jonny Bairstow',
 'Jos Buttler',
 'Harry Tector',
 'Mushfiqur Rahim',
 'Paul Stirling',
 'David Miller',
 'Tamim Iqbal',
 'Alex Carey',
 'Joe Root',
 'Rahmat Shah',
 'Shreyas Iyer',
 'Nicholas Pooran',
 'Shakib Al Hasan',
 'Travis Head',
 'Glenn Maxwell',
 'Heinrich Klaasen',
 'Tom Latham',
 'Sikandar Raza',
 'Temba Bavuma',
 'Martin Guptill',
 'Litton Das',
 'Shikhar Dhawan',
 'Gerhard Erasmus',
 'Dawid Malan',
 'Lokesh Rahul',
 'George Munsey',
 'Mahmudullah',
 'Devon Conway',
 'Najibullah Zadran',
 'Kariyawasa Asalanka',
 'Andrew Balbirnie',
 'Kyle Coetzer',
 'Ibrahim Zadran',
 'Haris Sohail',
 'Monank Patel',
 'Aaron Jones',
 'Kusal Mendis',
 'Hashmatullah Shaidi',
 'Mitchell Marsh',
 'Assad Vala',
 'Aiden Markram',
 'Sean Williams',
 'Ishan Kishan',
 'Rahmanullah Gurbaz',
 'R.K. Paudel',
 'Scott Edwards',
 'Janneman Malan',
 'Zeeshan Maqsood',
 'Jatinder Singh',
 'Avishka Fernando',
 'Mohammad Rizwan',
 'Vriitya Aravind',
 'Mohammad Nabi',
 'Aasif Sheikh',
 'Marnus Labuschagne',
 'Tom Cooper',
 'Mitchell Santner',
 'Henry Nicholls',
 'Richard Berrington',
 'Dasun Shanaka',
 'Hardik Pandya',
 'Angelo Mathews',
 'Danushka Gunathilaka',
 'Michael Leask',
 "Max O'Dowd",
 'Steven Taylor',
 'Dhananjaya de Silva',
 'Finn Allen',
 'Marcus Stoinis',
 'Craig Ervine',
 'Gajanand Singh',
 'Michael Bracewell',
 'Muhammad Waseem',
 'Philip Salt',
 'Pathum Nissanka',
 'Shamarh Brooks',
 'Niroshan Dickwella',
 'Moeen Ali',
 'Rashid Khan',
 'Jimmy Neesham',
 'Michael van Lingen',
 'Kyle Mayers',
 'Tony Ura',
 'Matthew Cross',
 'Chundangapoyil Rizwan',
 'Mehedi Hasan',
 'Daryl Mitchell']

In [7]:
len(batsmen)

100

In [8]:
Batsmen=batsmen[0:10]
Batsmen

['Babar Azam',
 'Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'Shubman Gill',
 'David Warner',
 'Virat Kohli',
 'Rohit Sharma',
 'Steve Smith',
 'Fakhar Zaman']

In [9]:
for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
    team.append(i.text.replace("\n",""))
team

['PAK                    ']

In [10]:
for i in soup.find_all('span',class_='table-body__logo-text'):
    team.append(i.text.replace("\n",""))
team

['PAK                    ',
 'SA',
 'PAK',
 'SA',
 'IND',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'PAK',
 'WI',
 'NZ',
 'ENG',
 'ENG',
 'ENG',
 'IRE',
 'BAN',
 'IRE',
 'SA',
 'BAN',
 'AUS',
 'ENG',
 'AFG',
 'IND',
 'WI',
 'BAN',
 'AUS',
 'AUS',
 'SA',
 'NZ',
 'ZIM',
 'SA',
 'NZ',
 'BAN',
 'IND',
 'NAM',
 'ENG',
 'IND',
 'SCO',
 'BAN',
 'NZ',
 'AFG',
 'SL',
 'IRE',
 'SCO',
 'AFG',
 'PAK',
 'USA',
 'USA',
 'SL',
 'AFG',
 'AUS',
 'PNG',
 'SA',
 'ZIM',
 'IND',
 'AFG',
 'NEP',
 'NED',
 'SA',
 'OMA',
 'OMA',
 'SL',
 'PAK',
 'UAE',
 'AFG',
 'NEP',
 'AUS',
 'NED',
 'NZ',
 'NZ',
 'SCO',
 'SL',
 'IND',
 'SL',
 'SL',
 'SCO',
 'NED',
 'USA',
 'SL',
 'NZ',
 'AUS',
 'ZIM',
 'USA',
 'NZ',
 'UAE',
 'ENG',
 'SL',
 'WI',
 'SL',
 'ENG',
 'AFG',
 'NZ',
 'NAM',
 'WI',
 'PNG',
 'SCO',
 'UAE',
 'BAN',
 'NZ']

In [11]:
nationality=team[0:10]
nationality

['PAK                    ',
 'SA',
 'PAK',
 'SA',
 'IND',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'PAK']

In [12]:
for i in soup.find_all('div',class_='rankings-block__banner--rating'):
    rating.append(i.text)
rating

['887']

In [13]:
for i in soup.find_all('td',class_='table-body__cell rating'):
    rating.append(i.text)
rating

['887',
 '777',
 '740',
 '740',
 '738',
 '726',
 '719',
 '707',
 '702',
 '699',
 '698',
 '693',
 '682',
 '669',
 '658',
 '650',
 '646',
 '640',
 '635',
 '633',
 '631',
 '631',
 '628',
 '624',
 '620',
 '617',
 '616',
 '612',
 '611',
 '605',
 '595',
 '594',
 '591',
 '586',
 '580',
 '572',
 '572',
 '571',
 '569',
 '568',
 '560',
 '555',
 '548',
 '543',
 '543',
 '543',
 '542',
 '539',
 '530',
 '526',
 '523',
 '523',
 '519',
 '515',
 '514',
 '511',
 '511',
 '507',
 '503',
 '500',
 '499',
 '496',
 '495',
 '495',
 '493',
 '492',
 '490',
 '490',
 '486',
 '483',
 '482',
 '482',
 '480',
 '479',
 '477',
 '475',
 '469',
 '465',
 '464',
 '463',
 '461',
 '461',
 '453',
 '451',
 '450',
 '449',
 '447',
 '445',
 '438',
 '434',
 '433',
 '426',
 '426',
 '425',
 '425',
 '422',
 '422',
 '419',
 '417',
 '416']

In [14]:
rate=rating[0:10]
rate

['887', '777', '740', '740', '738', '726', '719', '707', '702', '699']

In [15]:
df=pd.DataFrame({'Batting players':Batsmen,'Natinality of team':nationality,'Rating':rate})
df

         Batting players       Natinality of team Rating
0             Babar Azam  PAK                        887
1  Rassie van der Dussen                       SA    777
2            Imam-ul-Haq                      PAK    740
3        Quinton de Kock                       SA    740
4           Shubman Gill                      IND    738
5           David Warner                      AUS    726
6            Virat Kohli                      IND    719
7           Rohit Sharma                      IND    707
8            Steve Smith                      AUS    702
9           Fakhar Zaman                      PAK    699