In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [3]:
soup=BeautifulSoup(page.content)

In [4]:
name=[]
match=[]
point=[]
rating=[]

In [5]:
for i in soup.find_all("span",class_='u-hide-phablet'):
    name.append(i.text)
name

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka',
 'Ireland',
 'Netherlands',
 'Zimbabwe']

In [6]:
team_name=name[0:10]
team_name

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka']

In [7]:
for i in soup.find_all("td",class_='rankings-block__banner--matches'):
    match.append(i.text)
match

['21']

In [8]:
for i in soup.find_all('td',class_='table-body__cell u-center-text'):
    match.append(i.text)
match

['21',
 '28',
 '3,342',
 '26',
 '3,098',
 '27',
 '2,820',
 '25',
 '2,553',
 '27',
 '2,535',
 '13',
 '983',
 '8',
 '572',
 '27',
 '1,678',
 '8',
 '353',
 '14',
 '548',
 '9',
 '0',
 '8',
 '0']

In [9]:
mat=[]

In [10]:
mat.extend([match[0],match[1]])
mat.extend([match[3],match[5]])
mat.extend([match[7],match[9]])
mat.extend([match[11],match[13]])
mat.extend([match[15],match[17]])
mat

['21', '28', '26', '27', '25', '27', '13', '8', '27', '8']

In [11]:
for i in soup.find_all('td',class_='rankings-block__banner--points'):
    point.append(i.text)
point

['3,603']

In [12]:
point.extend([match[2],match[4]])
point.extend([match[6],match[8]])
point.extend([match[10],match[12]])
point.extend([match[14],match[16]])
point.extend([match[18]])
point

['3,603',
 '3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '572',
 '1,678',
 '353']

In [13]:
for i in soup.find_all('td',class_='rankings-block__banner--rating u-text-right'):
    rating.append(i.text.replace("\n",''))
rating

['                            172                            ']

In [14]:
for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
    rating.append(i.text.replace("\n",""))
rating

['                            172                            ',
 '119',
 '119',
 '104',
 '102',
 '94',
 '76',
 '72',
 '62',
 '44',
 '39',
 '0',
 '0']

In [15]:
rate=rating[0:10]
rate

['                            172                            ',
 '119',
 '119',
 '104',
 '102',
 '94',
 '76',
 '72',
 '62',
 '44']

In [16]:
df=pd.DataFrame({'name':team_name,'match':mat,'point':point,'rating':rate})
df

,name,match,point,rating
0,Australia,21,"3,603",172 ...
1,England,28,"3,342",119
2,South Africa,26,"3,098",119
3,India,27,"2,820",104
4,New Zealand,25,"2,553",102
5,West Indies,27,"2,535",94
6,Bangladesh,13,983,76
7,Thailand,8,572,72
8,Pakistan,27,"1,678",62
9,Sri Lanka,8,353,44