In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page

In [3]:
soup=BeautifulSoup(page.content)

In [4]:
name=[]
nationality=[]
rating=[]

In [5]:
for i in soup.find_all('div',class_='rankings-block__banner--name-large'):
    name.append(i.text.replace("\n",''))
name

['Hayley Matthews']

In [6]:
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    name.append(i.text.replace("\n",''))
name

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Nida Dar',
 'Jhulan Goswami',
 'Sophie Ecclestone',
 'Sophie Devine',
 'Chloe-Lesleigh Tryon',
 'Katherine Brunt',
 'Rumana Ahmed',
 'Stafanie Taylor',
 'Chamari Athapaththu',
 'Charlotte Dean',
 'Sune Luus',
 'Salma Khatun']

In [7]:
player_name=name[0:10]
player_name

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Nida Dar',
 'Jhulan Goswami']

In [8]:
for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
    nationality.append(i.text.replace("\n",""))
nationality

['WI                    ']

In [9]:
for i in soup.find_all('span',class_='table-body__logo-text'):
    nationality.append(i.text.replace("\n",''))
nationality

['WI                    ',
 'ENG',
 'AUS',
 'SA',
 'NZ',
 'IND',
 'AUS',
 'AUS',
 'PAK',
 'IND',
 'ENG',
 'NZ',
 'SA',
 'ENG',
 'BAN',
 'WI',
 'SL',
 'ENG',
 'SA',
 'BAN']

In [10]:
player_nationality=nationality[0:10]
player_nationality

['WI                    ',
 'ENG',
 'AUS',
 'SA',
 'NZ',
 'IND',
 'AUS',
 'AUS',
 'PAK',
 'IND']

In [11]:
for i in soup.find_all('div',class_='rankings-block__banner--rating'):
    rating.append(i.text)
rating

['373']

In [12]:
for i in soup.find_all('td',class_='table-body__cell rating'):
    rating.append(i.text)
rating

['373',
 '371',
 '366',
 '349',
 '336',
 '322',
 '292',
 '250',
 '232',
 '214',
 '205',
 '202',
 '197',
 '195',
 '184',
 '181',
 '178',
 '174',
 '171',
 '169']

In [13]:
player_rating=rating[0:10]
player_rating

['373', '371', '366', '349', '336', '322', '292', '250', '232', '214']

In [14]:
df=pd.DataFrame({'Player name':player_name,'player nationality':player_nationality,'player rating':player_rating})
df

        Player name      player nationality player rating
0   Hayley Matthews  WI                               373
1    Natalie Sciver                     ENG           371
2      Ellyse Perry                     AUS           366
3    Marizanne Kapp                      SA           349
4       Amelia Kerr                      NZ           336
5     Deepti Sharma                     IND           322
6  Ashleigh Gardner                     AUS           292
7     Jess Jonassen                     AUS           250
8          Nida Dar                     PAK           232
9    Jhulan Goswami                     IND           214