In [1]:
import  pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page

In [3]:
soup=BeautifulSoup(page.content)

In [4]:
player=[]
team=[]
rating=[]

In [5]:
for i in soup.find_all('div',class_='rankings-block__banner--name-large'):
    player.append(i.text)
player

['Alyssa Healy']

In [6]:
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    player.append(i.text.replace("\n",''))
player

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Amy Satterthwaite',
 'Ellyse Perry',
 'Tammy Beaumont',
 'Deandra Dottin',
 'Stafanie Taylor',
 'Suzie Bates',
 'Amelia Kerr',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Danielle Wyatt',
 'Chloe-Lesleigh Tryon',
 'Heather Knight',
 'Bismah Maroof',
 'Mignon du Preez',
 'Sophie Devine',
 'Deepti Sharma',
 'Amy Jones',
 'Sidra Ameen',
 'Maddie Green',
 'Ashleigh Gardner',
 'Sune Luus',
 'Gaby Lewis',
 'Nida Dar',
 'Laura Delany',
 'Sophia Dunkley',
 'Fargana Hoque',
 'Tahlia McGrath',
 'Aliya Riaz',
 'Yastika Bhatia',
 'Shafali Verma',
 'Nigar Sultana',
 'Harshitha Madavi',
 'Rumana Ahmed',
 'Nahida Khan',
 'Poonam Raut',
 'Muneeba Ali',
 'Umaima Sohail',
 'Babette de Leede',
 'Lara Goodall',
 'Nattakan Chantam',
 'Amy Hunter',
 'Emma Lamb',
 'Nilakshi Silva',
 'Pooja Vastrakar',
 'Leah Paul',
 'Dane van Niekerk',
 'Javeria Khan',
 'Lauren Down',
 'Jess Jonassen',
 'Katherine Brunt',
 'Brooke Halliday',
 'Sharmin Supta',
 'Shemaine Campbelle',
 'Salma Khatun',
 'Trisha Chetty',
 'Andrie Steyn',
 'Charlotte Dean',
 'Jhulan Goswami',
 'Lauren Winfield',
 'Chedean Nation',
 'Richa Ghosh',
 'Orla Prendergast',
 'Prasadani Weerakkody',
 'Lata Mondal',
 'Annabel Sutherland',
 'Katie Perkins',
 'Sophie Ecclestone',
 'Kycia Knight',
 'Hasini Perera',
 'Rashada Williams',
 'Kavisha Dilhari',
 'Ritu Moni',
 'Nicola Carey',
 'Mary Waldron',
 'Naruemol Chaiwai',
 'Phoebe Litchfield',
 'Harleen Deol',
 'Eimear Richardson',
 'Mary-Anne Musonda',
 'Shamima Sultana',
 'Kate Cross',
 'Nannapat Koncharoenkai',
 'Georgina Dempsey',
 'Chinelle Henry',
 'Murshida Khatun',
 'Shikha Pandey',
 'Jess Kerr',
 'Rosenan Kanoh',
 'Tazmin Brits',
 'Josephine Nkomo',
 'Heather Siegers']

In [7]:
player_name=player[0:10]
player_name

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Amy Satterthwaite']

In [8]:
for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
    team.append(i.text.replace("\n",""))
team

['AUS                    ']

In [9]:
for i in soup.find_all('span',class_='table-body__logo-text'):
    team.append(i.text.replace("\n",""))
team

['AUS                    ',
 'AUS',
 'SA',
 'ENG',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'SL',
 'NZ',
 'AUS',
 'ENG',
 'WI',
 'WI',
 'NZ',
 'NZ',
 'SA',
 'WI',
 'ENG',
 'SA',
 'ENG',
 'PAK',
 'SA',
 'NZ',
 'IND',
 'ENG',
 'PAK',
 'NZ',
 'AUS',
 'SA',
 'IRE',
 'PAK',
 'IRE',
 'ENG',
 'BAN',
 'AUS',
 'PAK',
 'IND',
 'IND',
 'BAN',
 'SL',
 'BAN',
 'PAK',
 'IND',
 'PAK',
 'PAK',
 'NED',
 'SA',
 'THA',
 'IRE',
 'ENG',
 'SL',
 'IND',
 'IRE',
 'SA',
 'PAK',
 'NZ',
 'AUS',
 'ENG',
 'NZ',
 'BAN',
 'WI',
 'BAN',
 'SA',
 'SA',
 'ENG',
 'IND',
 'ENG',
 'WI',
 'IND',
 'IRE',
 'SL',
 'BAN',
 'AUS',
 'NZ',
 'ENG',
 'WI',
 'SL',
 'WI',
 'SL',
 'BAN',
 'AUS',
 'IRE',
 'THA',
 'AUS',
 'IND',
 'IRE',
 'ZIM',
 'BAN',
 'ENG',
 'THA',
 'IRE',
 'WI',
 'BAN',
 'IND',
 'NZ',
 'THA',
 'SA',
 'ZIM',
 'NED']

In [10]:
team_nationality=team[0:10]
team_nationality

['AUS                    ',
 'AUS',
 'SA',
 'ENG',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'SL',
 'NZ']

In [11]:
for i in soup.find_all('div',class_='rankings-block__banner--rating'):
    rating.append(i.text)
rating

['762']

In [12]:
for i in soup.find_all('td',class_='table-body__cell rating'):
    rating.append(i.text)
rating

['762',
 '754',
 '732',
 '731',
 '717',
 '716',
 '714',
 '680',
 '655',
 '641',
 '626',
 '595',
 '589',
 '588',
 '588',
 '587',
 '585',
 '566',
 '566',
 '557',
 '555',
 '551',
 '548',
 '548',
 '547',
 '535',
 '522',
 '509',
 '507',
 '496',
 '485',
 '476',
 '475',
 '465',
 '462',
 '448',
 '432',
 '426',
 '405',
 '403',
 '402',
 '399',
 '398',
 '397',
 '395',
 '395',
 '394',
 '394',
 '386',
 '385',
 '384',
 '384',
 '380',
 '372',
 '363',
 '360',
 '346',
 '346',
 '345',
 '337',
 '333',
 '323',
 '320',
 '314',
 '311',
 '310',
 '307',
 '305',
 '304',
 '302',
 '298',
 '298',
 '296',
 '285',
 '276',
 '273',
 '272',
 '267',
 '266',
 '266',
 '266',
 '265',
 '263',
 '257',
 '253',
 '253',
 '247',
 '244',
 '241',
 '239',
 '235',
 '232',
 '231',
 '228',
 '228',
 '226',
 '225',
 '224',
 '222',
 '222']

In [13]:
player_rating=rating[0:10]
player_rating

['762', '754', '732', '731', '717', '716', '714', '680', '655', '641']

In [14]:
df=pd.DataFrame({'Player name':player_name,'Player nationality':team_nationality,'Player rating':player_rating})
df

           Player name       Player nationality Player rating
0         Alyssa Healy  AUS                               762
1          Beth Mooney                      AUS           754
2      Laura Wolvaardt                       SA           732
3       Natalie Sciver                      ENG           731
4          Meg Lanning                      AUS           717
5     Harmanpreet Kaur                      IND           716
6      Smriti Mandhana                      IND           714
7       Rachael Haynes                      AUS           680
8  Chamari Athapaththu                       SL           655
9    Amy Satterthwaite                       NZ           641